<a href="{{video_url}}"
   data-poster="{{img_url}}"
   data-sub-html="<h4>{{video_title}}</h4>">
    <img src="{{img_url}}"/>

    <div class="caption">
        <h4>{{video_title}}</h4>
    </div>
</a>
