{{#each posts}}
    <div class="post_wrapper">
        <a href="#/posts/{{id}}">
            <div class="post_header">
                <h5>{{title}}</h5><span>{{date}}</span>
            </div>
            <div class="post_body">
                <p>{{body}}</p>
            </div>
        </a>
    </div>
{{else}}
    <div class="no_posts">
        <span>There are no posts at the moment</span>
    </div>
{{/each}}
