{{#if post_page}}
    {{#if postsAuthed}}
        {{#each posts}}
            <div class="post_wrapper" id="{{_id}}" title="{{subtitle}}">
                <div class="admin_edit_controls post_controls">
                    <span class="edit" data-id="{{_id}}"><i class="fas fa-pencil-alt"></i></span>
                    <span class="delete" data-id="{{_id}}" data-collection="posts">[X]</span>
                </div>
                <a href="#/posts/{{_id}}">
                    <div class="post_header">
                        <h5>{{title}}</h5>
                    </div>
                    <div class="post_body">
                        <img src="{{img_src}}">
                        <p>{{subtitle}}</p>
                    </div>
                </a>
            </div>
        {{/each}}
    {{else}}
        {{#each posts}}
            <div class="post_wrapper" title="{{subtitle}}">
                <a href="#/posts/{{_id}}">
                    <div class="post_header">
                        <h5>{{title}}</h5>
                    </div>
                    <div class="post_body">
                        <img src="{{img_src}}">
                        <p>{{subtitle}}</p>
                    </div>
                </a>
            </div>
        {{/each}}
    {{/if}}

{{/if}}
{{#if home_page}}
    {{#each posts}}
        <div class="post_wrapper" title="{{subtitle}}">
            <a href="#/posts/{{_id}}">
                <div class="post_header">
                    <h5>{{title}}</h5>
                    <span>{{date}}</span>
                </div>
                <div class="post_body">
                    <p>{{subtitle}}</p>
                </div>
            </a>
        </div>
    {{else}}
        <div class="no_posts">
            <span>There are no posts at the moment</span>
        </div>
    {{/each}}
{{/if}}
{{#if single_post}}
    {{#each posts}}
        <div class="post_slider_wrapper" title="{{subtitle}}">
            <a href="#/posts/{{_id}}">
                <div class="single_post_header">
                    <h5>{{title}}</h5>
                </div>
                <div class="single_post_body">
                    <img src="{{img_src}}">

                    <p>{{subtitle}}</p>
                </div>
            </a>
        </div>
    {{else}}
        <div class="no_posts">
            <span>There are no posts at the moment</span>
        </div>
    {{/each}}
{{/if}}
