<div class="single_post_wrapper">
    <div class="post_header">
        <h5>{{post.subtitle}}</h5>
        <div>{{post.date}}</div>
    </div>
    <div class="post_body">
        <div class="first_section">
            {{#if post.img_src}}
                <img src="{{post.img_src}}">
            {{/if}}
            <p id="first_paragraph">{{post.body}}</p>
        </div>

        <div class="second_section">
            {{#if post.video_url}}
                <iframe src="{{post.video_url}}"></iframe>
            {{/if}}
            {{#if post.body2}}
                <p id="second_paragraph">{{post.body2}}</p>
            {{/if}}
        </div>
    </div>
</div>

<div class="all_posts">
    <div class="all_posts_header">
        <h5>Още за Вас:</h5>
    </div>
    <div id="list_posts">

    </div>
</div>